@font-face {
  font-family: Font;
  src: url(/Fonts/helveticaneue.woff2);
}

@font-face {
  font-family: Curly_Font;
  src: url(/Fonts/ivy-presto-display.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Font;
}

html,
body {
  height: 100%;
  width: 100%;
}

::selection {
  background-color: #362f24;
}

::-webkit-scrollbar {
  display: none;
}

body {
  background-color: #151414;
  color: #f3c77c;
}

.nav {
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6rem;
  font-size: larger;
  color: #f2e2c2;
}

.landingPage {
  height: 100vh;
  display: flex;
  font-weight: bolder;
  letter-spacing: -20px;
  margin-top: -100px;
  padding-left: 5rem;
}

.landingPage span {
  font-size: 35rem;
}

.breakLine {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2.2rem;
  text-transform: uppercase;
  letter-spacing: -1px;
  margin-bottom: 5rem;
}

.textPage {
  display: flex;
  height: 120vh;
  width: 100vw;
}

.left {
  height: 100%;
  width: 78%;
  color: #e7cfb1;
  font-size: 8rem;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 19rem;
}
.left h2 {
  margin-bottom: -75px;
}

.curly {
  font-family: Curly_Font;
}

.right {
  width: 22%;
  display: flex;
  align-items: end;
  justify-content: center;
  padding-bottom: 3rem;
  color: #e7cfb1;
  background-color: #151414;
  font-size: 1.2rem;
  text-transform: uppercase;
}

/* Projects */
.projectsPage {
  width: 100%;
  padding: 2rem;
}

.SVG {
  position: relative;
  display: flex;
  justify-content: end;
}

.circleTxt {
  animation: circle 10s linear infinite;
}

@keyframes circle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.overArrow {
  position: absolute;
}

