@font-face {
  font-family: Font;
  src: url(/Fonts/helveticaneue.woff2);
}

@font-face {
  font-family: Curly_Font;
  src: url(/Fonts/ivy-presto-display.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Font;
}

html,
body {
  height: 100%;
  width: 100%;
}

::selection {
  background-color: #362f24;
}

::-webkit-scrollbar {
  display: none;
}

body {
  background-color: #151414;
  color: #f3c77c;
}

.nav {
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6rem;
  font-size: larger;
  color: #f2e2c2;
}

.landingPage {
  height: 100vh;
  display: flex;
  font-weight: bolder;
  letter-spacing: -20px;
  margin-top: -100px;
  padding-left: 5rem;
}

.landingPage span {
  font-size: 35rem;
}

.breakLine {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2.2rem;
  text-transform: uppercase;
  letter-spacing: -1px;
  margin-bottom: 5rem;
}

.textPage {
  display: flex;
  height: 120vh;
  width: 100vw;
}

.left {
  height: 100%;
  width: 78%;
  color: #e7cfb1;
  font-size: 8rem;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 19rem;
}

.left h2 {
  margin-bottom: -75px;
}

.curly {
  font-family: Curly_Font;
}

.right {
  width: 22%;
  display: flex;
  align-items: end;
  justify-content: center;
  padding-bottom: 3rem;
  color: #e7cfb1;
  background-color: #151414;
  font-size: 1.2rem;
  text-transform: uppercase;
}

/* Projects */

/* 1 */

.projectsPage {
  width: 100%;
  padding: 2rem;
}

.SVG {
  position: relative;
  display: flex;
  justify-content: end;
  padding-right: 5rem;
}

.circleTxt {
  animation: circle 10s linear infinite;
}

@keyframes circle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.overArrow {
  position: absolute;
}

.project_1 {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.vid_left {
  width: 50%;
}

.img_right {
  height: 95vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.img_right img {
  height: 18rem;
}

/* 2 */

.project_2 {
  width: 100%;
  display: flex;
  height: 95vh;
}

.videoSection {
  width: 50%;
}

.videoSection div {
  background-color: #362f24;
  width: 28rem;
  height: 22rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.videoSection div video {
  height: 120%;
  width: 100%;
  object-fit: cover;
  cursor: pointer;
}

.imgSection {
  width: 50%;
  display: flex;
  align-items: end;
}

.imgSection div {
  background-color: #151414;
  width: 100%;
  height: 80%;
}

.imgSection div img {
  object-fit: contain;
  width: 100%;
  cursor: pointer;
}

/* Project Tag */

.project_tag {
  margin: 10rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.project_tag div {
  border: 1px solid #e7cfb1;
  position: absolute;
  border-radius: 50%;
  padding: 4rem 10rem;
  cursor: pointer;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
}

.project_tag h5 {
  font-size: larger;
  font-weight: 100;
  text-transform: uppercase;
  color: #e7cfb1;
  text-align: center;
}

.project_tag div:hover {
  border: 1px solid #e7cfb1;
  rotate: -15deg;
  padding: 5rem 11rem;
}

.FullPage_Animation {
  display: flex;
  justify-content:start;
  align-items: center;
  height: 100vh;
  background-color: #9ac1cb;
  color: #151414;
  overflow-x: hidden;
}
.FullPage_Animation h1 {
  padding-left: 5rem;
  font-size: 35rem;
  text-transform: uppercase;
}
