
@font-face {
    font-family: Font;
    src: url(/Fonts/helveticaneue.woff2);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Font;
}
html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: #151414;
  color: #f3c77c;
}

.nav {
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6rem;
}
